/* CONSTANTS */

/* STAGE */

/* DISPLAY */

.start-btn.start-btn {
  padding: 0.5rem 1rem;
  color: white;
  background-color: grey;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 1rem;
}
